<div id="footer" class="container-fluid bg-sdown-dark py-3 text-light vh-30">
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <span class="fw-medium fs-4">PC SHOP </span>
        <p class="fw-light">
          Your trusted destination for all things PC: Unleash your digital
          potential with us.
        </p>
      </div>
      <div class="col d-flex justify-content-around fw-light">
        <a href="#" onclick="return false;"
          ><span class="px-2">Terms & Condition</span></a
        >
        <a href="#" onclick="return false;"
          ><span class="px-2">Privacy Policy</span></a
        >
        <a href="#" onclick="return false;"><span class="px-2">FAQ</span></a>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid bg-sdown-dark p-3 d-flex justify-content-center text-light"
>
  <div class="container">
    <hr class="border border-2 rounded" />
    <div class="row">
      <div class="text-start col-6" style="font-size: 12px">
        Please note that this is a dummy website used for educational purposes
        as part of our full-stack development course in Lambton College
        Mississauga, ON. By no means is this website used/will be used to
        conduct any form of ecommerce or sales.
      </div>
      <div class="text-end col-6">&copy; 2023 - PC Parts Project Lambton</div>
    </div>
  </div>
</div>
