<nav class="navbar navbar-expand-lg bg-body-tertiary text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light fs-4 fw-medium" href="/v1/index.html">
      PC SHOP
    </a>
    <div id="navbar-cart" class="me-4">
      <a href="/v1/cart.html" style="position: relative">
        <i class="bi bi-cart2 text-light fs-2"></i>
        <span
          id="cart-count"
          style="display: none"
          class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
        >
          0
        </span>
      </a>
    </div>
  </div>
</nav>
