<!-- When editing anchor hrefs, make sure to change both the img and the text-->

<li
  class="product-item list-group-item d-flex justify-content-between align-items-center"
>
  <div class="product-details">
    <div class="d-flex justify-content-between align-items-center">
      <img class="image-placeholder" />
      <div class="product">
        <a class="product-link" href="/v1/product?id=<product_id>">
          <p class="product-name"></p>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-between px-4">
      <p>Quantity: <span class="quantity">0</span></p>
      <div class="item-price">Price</div>
    </div>
  </div>
</li>
