<div class="col">
  <div class="bg-sdown-dark h-100 overflow-hidden d-flex flex-column">
    <a class="product-link text-decoration-none h-100 d-flex flex-column">
      <div
        class="overflow-hidden d-flex justify-content-center p-1"
        style="aspect-ratio: 1 / 1 !important; background-color: grey"
      ></div>
      <div class="product-name text-light two-line-ellipsis">
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
        </p>
      </div>
      <div
        class="product-price px-3 text-light fw-bold mt-auto border border-dark"
      >
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </div>
    </a>
  </div>
</div>
<div class="col">
  <div class="bg-sdown-dark h-100 overflow-hidden d-flex flex-column">
    <a class="product-link text-decoration-none h-100 d-flex flex-column">
      <div
        class="overflow-hidden d-flex justify-content-center p-1"
        style="aspect-ratio: 1 / 1 !important; background-color: grey"
      ></div>
      <div class="product-name text-light two-line-ellipsis">
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
        </p>
      </div>
      <div
        class="product-price px-3 text-light fw-bold mt-auto border border-dark"
      >
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </div>
    </a>
  </div>
</div>
<div class="col">
  <div class="bg-sdown-dark h-100 overflow-hidden d-flex flex-column">
    <a class="product-link text-decoration-none h-100 d-flex flex-column">
      <div
        class="overflow-hidden d-flex justify-content-center p-1"
        style="aspect-ratio: 1 / 1 !important; background-color: grey"
      ></div>
      <div class="product-name text-light two-line-ellipsis">
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
        </p>
      </div>
      <div
        class="product-price px-3 text-light fw-bold mt-auto border border-dark"
      >
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </div>
    </a>
  </div>
</div>

<div class="col">
  <div class="bg-sdown-dark h-100 overflow-hidden d-flex flex-column">
    <a class="product-link text-decoration-none h-100 d-flex flex-column">
      <div
        class="overflow-hidden d-flex justify-content-center p-1"
        style="aspect-ratio: 1 / 1 !important; background-color: grey"
      ></div>
      <div class="product-name text-light two-line-ellipsis">
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
        </p>
      </div>
      <div
        class="product-price px-3 text-light fw-bold mt-auto border border-dark"
      >
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </div>
    </a>
  </div>
</div>

<div class="col">
  <div class="bg-sdown-dark h-100 overflow-hidden d-flex flex-column">
    <a class="product-link text-decoration-none h-100 d-flex flex-column">
      <div
        class="overflow-hidden d-flex justify-content-center p-1"
        style="aspect-ratio: 1 / 1 !important; background-color: grey"
      ></div>
      <div class="product-name text-light two-line-ellipsis">
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
        </p>
      </div>
      <div
        class="product-price px-3 text-light fw-bold mt-auto border border-dark"
      >
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </div>
    </a>
  </div>
</div>
