<div
  class="container-fluid mt-5 mb-5 p-4"
  style="background-color: white; border-radius: 18px"
>
  <div class="row d-flex justify-content-evenly flex-wrap">
    <div
      class="col-12 col-sm-6 username fw-bold text-truncate"
      style="font-size: 24px"
    >
      Username
    </div>
    <div
      class="col-12 col-sm-6 text-sm-end rating pe-3"
      style="font-size: 24px"
    >
      Rating:
    </div>
  </div>

  <div class="mt-1 content" style="font-size: 18px">Laws of Aviation</div>
</div>
